__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.Python
env/
venv*/
.venv/
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.DS_Store
.git
.gitignore
.idea/
.vscode/
output/
.langchain/
.langsmith/
*.db
*.sqlite
*.sqlite3
deployment/
tests/
test_local.py
logs.txt


